 /* got thes animation from a youtube animation  https://www.youtube.com/watch?v=0opookDE4bk */
body {
  background: linear-gradient(132deg, #ec5218, #1665c1);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
}
/* animation name */
@keyframes BackgroundGradient { 
  /* 0% (0 second)50%(15 second) 100% (30 sec) */
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  font-size: 80px;
}
.next {
  display: flex;
  justify-content: end;
}
 .time{
   display: flex;

 }
.card {
  display: flex;
  align-content: center;
  justify-content: center;
}
.question {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 100px;
}

#q1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 100px;
}
p {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  position: relative;
}

#q1 {
  display: none;
}
#q2 {
  display: none;
  height: 200px;
  text-align: center;
}
#q3 {
  display: none;
  height: 200px;
  text-align: center;
}
#q4 {
  display: none;
  height: 200px;
  text-align: center;
}
#q5 {
  display: none;
  height: 200px;
  text-align: center;
}

#a1 {
  display: none;
  height: 200px;
  text-align: center;
}
#a2 {
  display: none;
  height: 200px;
  text-align: center;
}
#a3 {
  display: none;
  height: 200px;
  text-align: center;
}
#a4 {
  display: none;
  height: 200px;
  text-align: center;
}
#a5 {
  display: none;
  height: 200px;
  text-align: center;
}

.start {
  text-align: center;
  text-justify: auto;
  text-transform: uppercase;
  background-color: orange;
}
.show {
  text-align: center;
  text-transform: uppercase;
  text-emphasis: weight;
  background-color: blue;
}
.next{
 display: flex;
 justify-content: end;
 
}