/* got thes animation from a youtube animation  https://www.youtube.com/watch?v=0opookDE4bk */
body {
  background: linear-gradient(132deg, #df9b9b, #4c6e95);
  background-size: 400% 400%;
  /* this control the animation 30 seconds infinite */
  animation: BackgroundGradient 30s ease infinite;
}
/* animation name */
@keyframes BackgroundGradient {
  /* 0% (0 second) 50%(15 second) 100% (30 sec) */
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  text-align: center;
  font-size: 80px;
  color: white;
}

.card {
  display: flex;
  align-content: center;
  justify-content: center;
}
.question {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 100px;
}
p {
  display: flex;
  text-align: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  color: white;
}

/* #q1 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 100px;
  color: white;
} */

#q1,#q2,#q3,#q4,#q5 {
  display: none;
  height: 200px;
  text-align: center;
  color: white;
  font-weight: 400;
}

#a1,#a2,#a3,#a4,#a5 {
  display: none;
  height: 200px;
  text-align: center;
  color: white;
  font-weight: 400;
}
.next {
  text-align: center;
  text-justify: auto;
  text-transform: uppercase;
  background-color: orange;
  background: linear-gradient(132deg, #dbd7db, #c1165d);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}
.show {
  text-align: center;
  text-transform: uppercase;
  text-emphasis: weight;
  background: linear-gradient(132deg, #d8c8d7, #c1165d);
  background-size: 400% 400%;
  animation: BackgroundGradient 10s ease infinite;
}
